[submodule "cc-legal-tools-data"]
	path = cc-legal-tools-data
	url = https://github.com/creativecommons/cc-legal-tools-data
[submodule "creativecommons-base"]
	path = creativecommons-base
	url = https://github.com/creativecommons/creativecommons-base.git
[submodule "mp"]
	path = mp
	url = https://github.com/creativecommons/mp
[submodule "wp-plugin-creativecommons-website"]
	path = wp-plugin-creativecommons-website
	url = https://github.com/creativecommons/wp-plugin-creativecommons-website.git
[submodule "wp-plugin-creativecommons.org"]
	path = wp-plugin-creativecommons.org
	url = https://github.com/creativecommons/wp-plugin-creativecommons.org.git
[submodule "wp-theme-creativecommons.org"]
	path = wp-theme-creativecommons.org
	url = https://github.com/creativecommons/wp-theme-creativecommons.org.git
